<<<<<<< HEAD


.fm {
    margin-top: 50px;
    margin-left: auto;
}

/*.row {*/
/*    display: -ms-flexbox;*/
/*    display: flex;*/
/*    -ms-flex-wrap: wrap;*/
/*    flex-wrap: wrap;*/
/*    margin-right: -15px;*/
/*    margin-left: -15px;*/
/*}*/

.cn {
    /*margin-left: -15px;*/
    /*height: 10em;*/
    /*position: relative;*/
    /*left: 50%;*/
    /*margin-right: -50%;*/
    /*transform: translate(-50%, -50%)*/
    margin-left: auto;
    margin-right: auto;
=======


.fm {
    margin-top: 50px;
    margin-left: auto;
}

/*.row {*/
/*    display: -ms-flexbox;*/
/*    display: flex;*/
/*    -ms-flex-wrap: wrap;*/
/*    flex-wrap: wrap;*/
/*    margin-right: -15px;*/
/*    margin-left: -15px;*/
/*}*/

.cn {
    /*margin-left: -15px;*/
    /*height: 10em;*/
    /*position: relative;*/
    /*left: 50%;*/
    /*margin-right: -50%;*/
    /*transform: translate(-50%, -50%)*/
    margin-left: auto;
    margin-right: auto;
>>>>>>> 530d3d7cf7d42d55a7bc030dfea7731923bde2d6
}