{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link href="/static/css/login.css" rel="stylesheet">

    <style>
        @media (min-width: 992px) {
            .pl-lg-5, .px-lg-5 {
                padding-left: 3rem !important;
                padding-top: 1rem !important;
                padding-bottom: 1rem !important;
            }
        }

        body {
            background: #172B4D !important;
        }

        .mb-4 {
        {#margin-bottom: 0px!important;#}
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
        {#            width: 100px;#}{#height: 100px;#}
        }

        .main_content{
            padding-top: 15%;
        }

        .errors {
            color: red;
            border: 1px solid red; /* Белая рамка */
            border-radius: 10px; /* Радиус скругления */
            font-size: 12px;
            {#display: inline-block;#}
            {#background: #fc0; /* Цвет фона */#}
        }
    </style>
</head>

<body class="">

<!-- Header -->
<div class="main_content">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="header-body text-center mb-7">
                    <div>
                        <h1 class="text-white">Ускоряем создание дизайн-проекта!</h1>
                        <p class="text-lead text-light">Мы создали сервис, который позволяет архитекторам, дизайнерам
                            интерьера и прорабам ускорить свою работу.
                            Теперь не нужно все делать в Excel. moobo все сделает за тебя</p>
                    </div>
                </div>
            </div>

            {#                </div>#}
            {#      </div>#}

            {#    </div>#}
            <!-- Page content -->
            {#    <div class="col-md-6">#}
            {#    <div class="container">#}

            <!-- Table -->
            {#      <div class="row justify-content-center">#}
            {#            <div class="col align-self-end">#}

            <div class="col-lg-5 col-md-5 col-sm-12 ">
                <div class="card bg-secondary shadow border-0">
                    {#            <div class="card-header bg-transparent pb-5">#}
                    {#              <div class="text-muted text-center mt-2 mb-4"><small>Зарегистрироваться через</small></div>#}
                    {#              <div class="text-center">#}
                    {#                <a href="#" class="btn btn-neutral btn-icon mr-4">#}
                    {#                  <span class="btn-inner--icon"><img src="../static/img/icons/facebook.svg"></span>#}
                    {#                  <span class="btn-inner--text">Facebook</span>#}
                    {#                </a>#}
                    {#                <a href="#" class="btn btn-neutral btn-icon">#}
                    {#                  <span class="btn-inner--icon"><img src="../static/img/icons/google.svg"></span>#}
                    {#                  <span class="btn-inner--text">Google</span>#}
                    {#                </a>#}
                    {#              </div>#}
                    {#            </div>#}
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <small>Зполните форму для регистрации</small>
                        </div>
                        <form role="form" method="POST">

                            {% csrf_token %}

                            {#                  <div class="form-group">#}
                            {#                    <label for="first_name">Имя*</label>#}
                            {#                  <div class="input-group input-group-alternative mb-3">#}
                            {#                    <div class="input-group-prepend">#}
                            {#                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>#}
                            {#                    </div>#}
                            {#                    <input class="form-control" name="first_name" placeholder="" type="text" required>#}
                            {#                  </div>#}
                            {#                  </div>#}
                            {##}
                            {#                  <div class="form-group">#}
                            {#                    <label for="last_name">Фамилия*</label>#}
                            {#                  <div class="input-group input-group-alternative mb-3">#}
                            {#                    <div class="input-group-prepend">#}
                            {#                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>#}
                            {#                    </div>#}
                            {#                    <input class="form-control" name="last_name" placeholder="" type="text" required>#}
                            {#                  </div>#}
                            {#                  </div>#}
                            {##}
                            {#                  <div class="form-group">#}
                            {#                    <label for="number">Номер телефона*</label>#}
                            {#                  <div class="input-group input-group-alternative mb-3">#}
                            {#                    <div class="input-group-prepend">#}
                            {#                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>#}
                            {#                    </div>#}
                            {#                    <input class="form-control" name="number" placeholder="" type="text" required>#}
                            {#                  </div>#}
                            {#                  </div>#}
                            {##}
                            {#                  <div class="form-group">#}
                            {#                    <label for="quantity_of_workers">Количество работников(число)</label>#}
                            {#                  <div class="input-group input-group-alternative mb-3">#}
                            {#                    <div class="input-group-prepend">#}
                            {#                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>#}
                            {#                    </div>#}
                            {#                    <input class="form-control" name="quantity_of_workers" placeholder="5" type="text" required>#}
                            {#                  </div>#}
                            {#                  </div>#}
                            {##}
                            {#                  <div class="form-group">#}
                            {#                    <label for="id_job">Профессия*</label>#}
                            {#                    <select class="custom-select d-block w-100" name="job" id="job" required="id_job">#}
                            {#                        <option value selected>---------</option>#}
                            {#                        <option value="Исполнитель">Исполнитель</option>#}
                            {#                    </select>#}
                            {#                      <div class="invalid-feedback">#}
                            {#                            Please select a valid country.#}
                            {#                      </div>#}
                            {#                      </div>#}
                            {##}
                            {#                <div class="form-group">#}
                            {#                    <label for="city">Город</label>#}
                            {#                  <div class="input-group input-group-alternative mb-3">#}
                            {#                    <div class="input-group-prepend">#}
                            {#                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>#}
                            {#                    </div>#}
                            {#                    <input class="form-control" name="city" placeholder="Москва" type="text" required>#}
                            {#                  </div>#}
                            {#                </div>#}

                            {#                <div class="form-group">#}
                            {#                    <label for="username">Логин*</label>#}
                            {#                  <div class="input-group input-group-alternative mb-3">#}
                            {#                    <div class="input-group-prepend">#}
                            {#                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>#}
                            {#                    </div>#}
                            {#                    <input class="form-control" name="username" placeholder="Придумайте логин" type="text" required>#}
                            {#                      <div class="invalid-feedback">#}
                            {#                            Please select a valid country.#}
                            {#                      </div>#}
                            {#                  </div>#}
                            {#                  </div>#}

                            <div class="form-group">
                                <label for="email">Почта*</label>
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-email-83"></i>@</span>
                                    </div>
                                    <input class="form-control" name="email" placeholder="you@example.com" type="email"
                                           required>
                                    <div class="invalid-feedback">
                                        Please select a valid Email.
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password">Пароль*</label>
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                    </div>
                                    <input class="form-control" name="password" placeholder="Придумайте пароль"
                                           type="password" required>
                                </div>
                            </div>

                            {% if error %}
                                <div align="center" class="errors">
                                    {{ error }}
                                </div>
                            {% endif %}
                            {#                <div class="text-muted font-italic"><small>password strength: <span class="text-success font-weight-700">strong</span></small></div>#}
                            {#                <div class="row my-4">#}
                            {#                  <div class="col-12">#}
                            {#                    <div class="custom-control custom-control-alternative custom-checkbox">#}
                            {#                      <input class="custom-control-input" id="customCheckRegister" type="checkbox" required>#}
                            {#                      <label class="custom-control-label" for="customCheckRegister">#}
                            {#                        <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>#}
                            {#                      </label>#}
                            {#                    </div>#}
                            {#                  </div>#}
                            {#                </div>#}

                            <div class="text-center">
                                <button class="btn btn-primary mt-4" type="submit">Создать профиль</button>
                            </div>
                        </form>
                    </div>
                </div>
                      <div class="row mt-3">
                            <div class="col-6 text-left-need">
                              <a href="/designer/sign_in" class="text-light"><small>Авторизоваться</small></a>
                            </div>
                      </div>
            </div>
            {#       </div>#}
        </div>
    </div>
</div>
{#    </div>#}
{#        </div>#}
{#    </div>#}
{#    </div>#}


<!-- Include scripts -->
<!-- Argon Scripts -->
<!-- Core -->
{#<script src="vendor/jquery/dist/jquery.min.js"></script>#}
{#<script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>#}
{#<!-- Docs JS -->#}
{#<script src="vendor/anchor-js/anchor.min.js"></script>#}
{#<script src="vendor/clipboard/dist/clipboard.min.js"></script>#}
{#<script src="vendor/holderjs/holder.min.js"></script>#}
{#<script src="vendor/prismjs/prism.js"></script>#}
{#<!-- Optional JS -->#}
{#<script src="vendor/chart.js/dist/Chart.min.js"></script>#}
{#<script src="vendor/chart.js/dist/Chart.extension.js"></script>#}
{#<script src="vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>#}
{#<!-- Argon JS -->#}
{#<script src="js/argon.min.js?v=1.0.0"></script>#}
{#<script>#}
{#  $(document).ready(function() {#}
{#    var _gaq = _gaq || [];#}
{#    _gaq.push(['_setAccount', 'UA-46172202-1']);#}
{#    _gaq.push(['_trackPageview']);#}
{#    (function() {#}
{#      var ga = document.createElement('script');#}
{#      ga.type = 'text/javascript';#}
{#      ga.async = true;#}
{#      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';#}
{#      var s = document.getElementsByTagName('script')[0];#}
{#      s.parentNode.insertBefore(ga, s);#}
{#    })();#}
{#    // Facebook Pixel Code Don't Delete#}
{#    ! function(f, b, e, v, n, t, s) {#}
{#      if (f.fbq) return;#}
{#      n = f.fbq = function() {#}
{#        n.callMethod ?#}
{#          n.callMethod.apply(n, arguments) : n.queue.push(arguments)#}
{#      };#}
{#      if (!f._fbq) f._fbq = n;#}
{#      n.push = n;#}
{#      n.loaded = !0;#}
{#      n.version = '2.0';#}
{#      n.queue = [];#}
{#      t = b.createElement(e);#}
{#      t.async = !0;#}
{#      t.src = v;#}
{#      s = b.getElementsByTagName(e)[0];#}
{#      s.parentNode.insertBefore(t, s)#}
{#    }(window,#}
{#      document, 'script', '//connect.facebook.net/en_US/fbevents.js');#}
{#    try {#}
{#      fbq('init', '111649226022273');#}
{#      fbq('track', "PageView");#}
{#    } catch (err) {#}
{#      console.log('Facebook Track Error:', err);#}
{#    }#}
{#  });#}
{#</script>#}
{#<noscript>#}
{#  <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=111649226022273&ev=PageView&noscript=1" />#}
{#</noscript>#}

</body>

</html>
